player-connection-mode=Listen
player-connection-guid=3785838385
player-connection-debug=0
player-connection-project-name=AquaHunter
player-connection-ip=192.168.167.129
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=3224f996d2a343f498687141f3a1ca36
