player-connection-mode=Listen
player-connection-guid=4062594413
player-connection-debug=0
player-connection-project-name=AquaHunter
player-connection-ip=192.168.218.234
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=ddaf6642c704449987d54321de971ee9
